COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libltdl/
libtool
ltmain.sh
m4/
missing
src/.deps/
src/Makefile
src/Makefile.in
src/distributions/.deps/
src/distributions/Makefile
src/distributions/Makefile.in
stamp-h1
config.h.in~
src/.libs/
src/amoroso.la
src/amoroso_la-amoroso.lo
src/distributions/.libs/
src/distributions/amorosodist.la
src/distributions/amorosodist_la-DAmoroso.lo
